.my-custom-margin {
  margin-left: 10px;
}
.custom-1 {
  min-width: 776px;
}

.card {
  /* background-color: #ffffff; */
  /* min-width: 776px; */
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.card h4 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.card p {
  /* font-weight: bold; */
  font-size: 16px;
  color: #666;
}

.card img {
  border-radius: 50%;
}

/* .card .fas.fa-reply .small {
  color: #007bff;
}

.card .fas.fa-reply .small:hover {
  color: #0056b3;
} */
.card .fas.fa-reply .small.custom {
  color: #000;
}
.card .fas.fa-reply .small.custom:hover {
  text-decoration: underline; /* Hiển thị gạch chân khi di chuột vào */
  color: inherit; /* Kế thừa màu chữ hiện tại, không thay đổi màu */
}
/* .card .fas .small {
  color: #007bff;
}

.card .fas .small:hover {
  color: #0056b3;
} */

.custom-margin {
  margin-top: 1rem !important;
}
.custom:hover {
  text-decoration: underline; /* Hiển thị gạch chân khi di chuột vào */
  color: inherit; /* Kế thừa màu chữ hiện tại, không thay đổi màu */
}
.custom {
  font-style: italic;
  color: #000;
}
.bg-white {
  font-size: 12px;
}
.rounded-box {
  border: 2px solid rgb(238, 230, 230);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  display: inline-block;
  min-width: 100%;
}
.small-1 {
  font-size: 80%;
  font-weight: 400;
  margin-left: 5px;
}
.read-more {
  font-size: 85%;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline; /* Áp dụng gạch chân khi di chuột qua */
}
.ml-1:hover {
  text-decoration: underline;
}
.read-more i {
  margin-right: 5px;
  /* Điều chỉnh khoảng cách giữa biểu tượng và văn bản */
}
.liked {
  font-weight: bold;
  /* Thêm bất kỳ hiệu ứng đậm mà bạn muốn ở đây */
}
