.centered-content {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optionally set a minimum height for the content */
}

.checkout-form {
  width: 100%; /* Optionally set the form width */
}
.checkout-form .place-order .order-total {
  text-align: left;
}
.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-price {
  font-weight: 700;
  margin-left: auto; /* This will push the price to the right */
}
.payment-check {
  display: flex;
  flex-direction: row;
  align-items: center; /* Chính giữa theo chiều dọc */
}
.payment-check-single {
  display: flex;
  flex-direction: row;
  align-items: center; /* Chính giữa theo chiều dọc */
  justify-content: center; /* Chính giữa theo chiều ngang */
  margin-bottom: 30px;
}

.pc-item {
  margin-right: 10px; /* Khoảng cách giữa các mục, có thể điều chỉnh theo ý muốn */
}

input[type="radio"] {
  margin-left: 70px;
}
